[build]
builder = "nixpacks"

[deploy]
startCommand = "cd backend && python deploy_media.py && python manage.py migrate --no-input && python manage.py collectstatic --no-input && gunicorn housing_analyzer.wsgi:application --bind 0.0.0.0:$PORT --workers 3"
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10

[[services]]
name = "web"
source = "."
[services.variables]
PYTHON_VERSION = "3.11"
